.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.example.*
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vagrant
/.vscode
/.zed
bootstrap/compiled.php
/bootstrap/ssr
/bootstrap/cache
/bootstrap/cache/
/app/storage/
/node_modules
/node_modules/
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/pail
/vendor
/vendor/
/coverage.xml
/playwright-report/
/test-results/
tests/visual/*-snapshots/
*.sqlite
database/*.sqlite
resto/
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
